In [1]:
# import core libraries 
import datetime
import json
import re
import csv
import ast
import pprint
import pathlib
import itertools
from collections import Counter
from itertools import islice

# import third-party libraries
import numpy as np
import pandas as pd

In [2]:
# set directory path data
syria_data_dir = pathlib.Path('/Users/adamstueckrath/Desktop/syria_data/')

# syria_events_csv file path
events_pre_processed_csv = syria_data_dir / 'model' / 'model_data' / 'events_pre_processed.csv'

# tweets_no_rts_csv file path
tweets_pre_processed_csv = syria_data_dir / 'model' / 'model_data' / 'tweets_pre_processed.csv'

In [3]:
tweets_df = pd.read_csv(tweets_pre_processed_csv, header=0)
events_df = pd.read_csv(events_pre_processed_csv, header=0)

/Users/adamstueckrath/.pyenv/versions/3.6.5/envs/syria-project-3.6.5/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (0,2,3,4,6,7,8,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
tweets_df = tweets_df.dropna(subset=['tweet_text_normalize'])

In [5]:
tweets_df.dtypes

tweet_id                     object
tweet_id_str                float64
tweet_created_at             object
tweet_lang                   object
tweet_text                   object
user_id_str                 float64
user_name                    object
tweet_text_clean             object
tweet_sentiment_compound     object
tweet_sentiment_score       float64
tweet_sentiment_label        object
tweet_text_tokenize          object
tweet_text_normalize         object
dtype: object

In [6]:
events_df.dtypes

event_id                  int64
event_date               object
event_type               object
actor_1                  object
assoc_actor_1            object
actor_2                  object
assoc_actor_2            object
location                 object
latitude                float64
longitude               float64
event_text               object
event_text_clean         object
event_text_tokenize      object
event_text_normalize     object
dtype: object

In [9]:
t = events_df.event_date.unique()

In [10]:
print(t)

['2017-08-04' '2017-08-03' '2017-08-02' '2017-08-01' '2017-07-31'
 '2017-07-30' '2017-07-29' '2017-07-28' '2017-07-27' '2017-07-26'
 '2017-07-25' '2017-07-24' '2017-07-23' '2017-07-22' '2017-07-21'
 '2017-07-20' '2017-07-19' '2017-07-18' '2017-07-17' '2017-07-16'
 '2017-07-15' '2017-07-14' '2017-07-13' '2017-07-12' '2017-07-11'
 '2017-07-10' '2017-07-09' '2017-07-08' '2017-07-07' '2017-07-06']

In [11]:
y = tweets_df.tweet_created_at.unique()

In [21]:
def test_date(x):
    return pd.to_datetime(x).date()#datetime.datetime.strptime(x, '%Y-%m-%d ')

In [22]:
tweets_df['tweet_created_at_2'] = tweets_df['tweet_created_at'].apply(test_date)

In [24]:
tweets_df.tweet_created_at_2.unique().tolist()

[datetime.date(2017, 7, 6),
 datetime.date(2017, 7, 7),
 datetime.date(2017, 7, 8),
 datetime.date(2017, 7, 9),
 datetime.date(2017, 7, 10),
 datetime.date(2017, 7, 11),
 datetime.date(2017, 7, 12),
 datetime.date(2017, 7, 13),
 datetime.date(2017, 7, 14),
 datetime.date(2017, 7, 15),
 datetime.date(2017, 7, 16),
 datetime.date(2017, 7, 17),
 datetime.date(2017, 7, 18),
 datetime.date(2017, 7, 19),
 datetime.date(2017, 7, 20),
 datetime.date(2017, 7, 21),
 datetime.date(2017, 7, 22),
 datetime.date(2017, 7, 23),
 datetime.date(2017, 7, 24),
 datetime.date(2017, 7, 25),
 datetime.date(2017, 7, 26),
 datetime.date(2017, 7, 27),
 datetime.date(2017, 7, 28),
 datetime.date(2017, 7, 29),
 datetime.date(2017, 7, 30),
 datetime.date(2017, 7, 31),
 datetime.date(2017, 8, 1),
 datetime.date(2017, 8, 2),
 datetime.date(2017, 8, 3),
 datetime.date(2017, 8, 4)]